body{
    background-size: cover;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    text-align: center;    
    font-family: "Open Sans", sans-serif;
}
h1{
    margin-top: 10px;
    margin-bottom: 10px;
}
h2{
    font-size:20px;
    font-weight: bold;
    font-style: normal;
    font-family: "Open Sans",
        sans-serif;
}
button{
   border-bottom: 5px;
   border-radius: 5px;
   margin-bottom: 15px;
   padding: 5px 30px 5px 30px;
   font-weight: bold;
   margin-top: 5px;
}

#increment-btn{
    background: darkred;
    color: white;
}
#save-btn{
    background: darkgreen;
    color: white;
}
